CATALOG_POSTGRES_USER=postgres
CATALOG_POSTGRES_PASSWORD=postgres
CATALOG_POSTGRES_HOST=localhost
CATALOG_POSTGRES_PORT=5436
CATALOG_POSTGRES_DB=catalog_db

ORDER_POSTGRES_USER=postgres
ORDER_POSTGRES_PASSWORD=postgres
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=5437
ORDER_POSTGRES_DB=order_db